<script lang="ts">
	export let name = 'default';
	export let onClick: (event?: MouseEvent) => void;
	let className = '';
	export { className as class };
</script>

<button on:click={onClick} class={className}>
	{name}
</button>
