<script lang="ts">
	import { onMount } from 'svelte';

	import { counter, startCounter, stopCounter } from '../model';

	onMount(() => {
		startCounter();
	});
</script>

<div>{$counter}</div>

<button on:click={() => startCounter()}>Start</button>
<button on:click={() => stopCounter()}>Stop</button>
